.part-four{
    margin-top: 150px;
    width: 100%;
    height: 900px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.part-four-one{
    margin-top: 100px;
    width: 88%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.part-four-left{
    font-size: 25px;
    width: 510px;
    color:rgb(255, 149, 0);
}

.part-four-right{
    margin-top: -50px;
    margin-left: 0%;
    width: 635px;
    color: white;
}

.image-section-part-four{
    margin-top: 100px;
    height: 50%;
    width: 88%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.image-section-part-four div{
    width: 49%;
}

#part-four-first-image{
    background-image: url('../../../public/Images/PartFourOne.png');
    background-size: cover;
    background-position: center;
}

#part-four-second-image{
    background-image: url('../../../public/Images/PartFourTwo.png');
    background-size: cover;
    background-position: center;
}

.part-four button{
    margin-top: 50px;
    border: none;
    padding: 20px;
    padding-left: 30px;
    padding-right: 30px;
    background-color:rgba(252, 252, 252, 0);
    color: orange;
    border: 1px solid orange;
    border-radius: 10px;
}

.part-four button:hover{
    cursor: pointer;
}

@media (max-width:1265px) {
    .part-four-left{
        font-size: 20px;
        width: 410px;
    }
    
    .part-four-right{
        width: 535px;
    }
    @media (max-width:1110px) {
        /* .part-four{
            top: 725vh;
        } */
        .part-four-left{
            font-size: 17px;
            width: 340px;
        }
        
        .part-four-right{
            font-size: 14px;
            width: 470px;
        }
        @media (max-width:915px) {
            .part-four-left{
                font-size: 14px;
                width: 280px;
            }
            
            .part-four-right{
                margin-top: -10px;
                font-size: 12px;
                width: 390px;
            }
            @media (max-width:781px) {
                /* .part-four{
                    top:585vh;
                } */
                @media (max-width:705px) {
                    /* .part-four{
                        height: 200%;
                    } */
                    .part-four-one{
                        margin-top: 200px;
                        height: 900px;
                        flex-direction: column;
                        justify-content: space-evenly;
                    }
                    .part-four-left{
                        font-size: 20px;
                        width: 400px;
                    }
                    .part-four-right{
                        font-size: 15px;
                        width: 400px;
                    }
                    .image-section-part-four{
                        margin-top: 0px;
                        height: 140%;
                        flex-direction: column;
                        justify-content: space-evenly;
                        align-items: center;
                    }
                    .image-section-part-four div{
                        width: 100%;
                        height: 40%;
                    }
                    .part-four button{
                        margin-top: -10px;
                    }
                    @media (max-width:425px) {
                        .part-four{
                            margin-top: -150px;
                            height: 1200px;
                        }
                        .part-four-left{
                            margin-left: 0px;
                            font-size: 16px;
                            width: 300px;
                        }
                        .part-four-right{
                            margin-top: -50px;
                            font-size: 12px;
                            width: 300px;
                        }
                        .image-section-part-four{
                            margin-top: 0px;
                        }
                    }
                }
            }
        }
    }
}


