.part-three{
    width: 100%;
    margin-top: 120px;
    height: 840px;
    background-color: black;
    margin-bottom: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.text-section-part-three{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    width: 100%;
}

.slide-show-section-part-four{
    width: 100%;
    height: 660px;
    background-image: url('../../../public/Images/slideShowPagefour/slideOne.png');
    background-size:cover;
    display: flex;
    justify-content: center;
}

#slideOne{
    background-image: url('../../../public/Images/slideShowPagefour/slideOne.png');
    background-size:cover;
    background-position: center;
}

#slideTwo{
  background-image: url('../../../public/Images/slideShowPagefour/slideTwo.png');
  background-size:cover;
  background-position: center;
}

#slideThree{
  background-image: url('../../../public/Images/slideShowPagefour/slideThree.png');
  background-size:cover;
  background-position: center;
}

#slideFour{
  background-image: url('../../../public/Images/slideShowPagefour/slideFour.png');
  background-size:cover;
  background-position: center;
}

.dots-horizontal{
    margin-top: 610px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100px;
  }
  
  .dot-horizontal {
    width: 4px;
    height: 4px;
    border: 2px solid white;
    border-radius: 50%;
    margin-bottom: 20px;
  }

  #dot-active-horizontal{
    width: 4px;
    height: 4px;
    border: 2px solid rgb(255, 255, 255);
    background-color: rgb(255, 255, 255);
    border-radius: 50%;
    margin-bottom: 20px;
  }

  @media (max-width:1110px) {
    /* .part-three{
      top:600vh;
    } */
    @media (max-width:852px) {
      .text-section-part-three p{
        font-size: 14px;
      }
      @media (max-width:780px) {
        /* .part-three{
          top:470vh;
        } */
        .text-section-part-three p{
          font-size: 11px;
        }
        @media (max-width:585px) {
          .text-section-part-three p{
            font-size: 8px;
          }
        }
        @media (max-width:441px) {
          /* .part-three{
            top:430vh;
          } */
          .slide-show-section-part-four{
            height: 500px;
          }
          .part-three{
            height: 560px;
          }
          .dots-horizontal{
            margin-top: 410px;
          }
          @media (max-width:420px) {
            .text-section-part-three p{
              font-size: 6px;
            }
          }
        }
      }
      
    }
  }