.catalogue-section{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.catalogue-section h1{
    font-size: 30px;
    color: white;
}

.catalogue{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 3%;
    margin-top: 30px;
    width: 90%;
}

.car-catalogue{
    height:400px;
    width: 100%;
    background-color: white;
    border: 2px solid black;
    border-radius: 20px;
    margin-top: 20px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.imageSectionofCar{
    width: 100%;
    height: 75%;
    border-top-left-radius: 18px;
    border-top-right-radius: 18px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 2px solid black;
}

.imageSectionofCar img {
    width: 100%;
    height: 100%;
    object-fit:cover;
}

.car-catalogue h2{
    margin: 13px;
    margin-top: 10px;
    font-size: 20px;
    font-weight:500;
    word-wrap: break-word;
    overflow-wrap: break-word;
    white-space: normal;
}


.exploreButtonforCatalogue{
    margin-top: -5px;
    background-color: black;
    color:white;
    font-size: 17px;
    border: none;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 8px;
}

.exploreButtonforCatalogue:hover{
    cursor: pointer;
}

.pagination {
    display: flex;
    align-items: center;
    color: white;
    margin-top: 100px;
  }
  
.page-info {
    margin-right: 10px;
}
  
.prev[aria-disabled="true"] {
    color: grey;
    pointer-events: none;
}

.next[aria-disabled="true"] {
    color: grey;
    pointer-events: none;
}

.next:hover{
    cursor: pointer;
}
.prev:hover{
    cursor:pointer;
}

.popup-background-box-for-renting-car{
    position: fixed;
    top:0;
    z-index: 1000;
    height: 100vh;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.481);
    display: flex;
    justify-content: center;
    align-items: center;
}

.pop-up-for-renting-card{
    height: 525px;
    width:400px;
    background-color: white;
    border: 2px solid black;
    border-radius: 20px;
}

.close-pop-up-car-renting{
    margin-top: 10px;
    margin-right: 10px;
    border-radius: 50%;
    float: right;
    background-color: rgba(255, 255, 255, 0.636);
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.close-ppup-window{
    font-size: 30px;
    color:rgb(0, 0, 0);
}

.close-ppup-window:hover{
    cursor: pointer;
}

.pop-up-for-renting-car-cover{
    width: 99.3%;
    height: 300px;
    background-color: rgba(0, 0, 0, 0.493);
    border-top-left-radius: 18px;
    border-top-right-radius: 18px;
    border: 2px solid black;
}

.content-for-renting{
    width: 100%;
    background-color: none;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    margin-left: 30px;
    color: white;
}

.content-for-renting aside{
    width: 90%;
}

.content-for-renting h1{
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 30px;
    color:black;
}

.make-payment-button{
    margin-top: 20px;
    margin-left: 100px;
    border: none;
    background-color: rgb(0, 0, 0);
    color: white;
    padding: 14px;
    padding-left: 16px;
    padding-right: 16px;
    border-radius: 10px;
    font-size: 18px;
}

#price-for-renting-car{
    /* text-shadow: 5px 5px 5px rgb(0, 0, 0); */
    font-size: 22px;
    font-weight: 500;
    margin-bottom: 5px;
    color: black;
}

#rating{
    /* text-shadow: 5px 5px 5px rgb(0, 0, 0); */
    margin-top: -5px;
    color:black;
    font-size: 18px;
}

@media (max-width:1250px) {
    .car-catalogue{
        height: 370px;
    }
    .car-catalogue h2{
        margin-top: 1px;
    }
    .exploreButtonforCatalogue{
        margin-top: -5px;
    }
    @media (max-width:1025px) {
        .car-catalogue{
            height: 300px;
        }
        .car-catalogue h2{
            font-size: 15px;
        }
        .exploreButtonforCatalogue{
            font-size: 12px;
        }
        @media (max-width:770px) {
            .catalogue{
                grid-template-columns: repeat(3, 1fr);
            }
        }
        @media (max-width:610px) {
            .car-catalogue{
                height: 250px;
            }
            .car-catalogue h2{
                font-size: 12px;
            }
            .exploreButtonforCatalogue{
                font-size: 11px;
                padding: 6px;
                border-radius: 5px;
            }
            @media (max-width:500px) {
                .catalogue{
                    grid-template-columns: repeat(2, 1fr);
                }
                .car-catalogue{
                    border-radius: 10px;
                    height: 230px;
                }
                .imageSectionofCar{
                    border-top-left-radius: 5px;
                    border-top-right-radius: 6px;
                }

                .pop-up-for-renting-card{
                    height: 435px;
                    width:325px;
                    border: 2px solid black;
                    border-radius: 20px;
                }
                
                .pop-up-for-renting-car-cover{
                    height: 225px;
                    border-top-left-radius: 18px;
                    border-top-right-radius: 18px;
                }
                .content-for-renting h1{
                    font-size: 22px;
                }
                #rating{
                    font-size: 16px;
                }
                #price-for-renting-car{
                    font-size: 20px;
                }
                .make-payment-button{
                    margin-left: 60px;
                    font-size: 16px;
                }
                
            }
        }
    }
}