.footer-page{
    width: 100%;
    height: 500px;
    background-color: black;
}

.footer-section{
    width: 100%;
    height: 450px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

.footer-section div{
    color: white;
    height: 90%;
    padding-top: 50px;
}

.footer-section div p{
    margin-bottom: 30px;
}

.follow-us-section{
    display: none;
    display: block;
    padding-left: 100px;
    width: 200px;
    color: white;
}

.follow-us-section h1{
    font-size: 30px;
}

.follow-us-section p{
    padding-top: 50px;
}

.svg-follow-icons{
    margin-top: 25px;
    width: 120px;
    height: 50px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.links-footer{
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.horizontal-line-footer-section{
    margin-top: 0px;
    width: 100%;
    height: 1px;
    background-color: white;
}

footer{
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    
}

footer p{
    margin-top: 40px;
    margin-left: 100px;
}
  
.navbar-links p {
    margin-left: 0px;
}

@media (max-width:1100px) {
    .horizontal-line-footer-section{
        margin-top: 40px;
    }
    footer p{
        margin-left: 70px;
        font-size: 14px;
    }
    @media (max-width:769px) {
        .footer-page{
            height: 820px;
        }
        .follow-us-section{
            padding-left: 70px;
            width: 450px;
        }
        .footer-section{
            grid-template-columns: repeat(2, 1fr);
            gap:0px
        }
        .horizontal-line-footer-section{
            margin-top: 310px;
        }
        footer{
            margin-top: 5px;
            height: 0px;
        }
        footer p{
            margin-left: 30px;
            font-size: 10px;
            height: 0px;
        }
        @media (max-width:673px) {
            
            .follow-us-section{
                padding-left: 30px;
                width: 160px;
            }
            .follow-us-section h1{
                font-size: 25px;
            }
            .links-footer p{
                font-size: 14px;
            }
            footer{
                display: flex;
                align-items: center;
            }
            @media (max-width:425px) {
                .follow-us-section{
                    padding-left: 30px;
                    width: 160px;
                }
                .follow-us-section h1{
                    font-size: 25px;
                }
                .links-footer p{
                    font-size: 14px;
                }
                footer{
                    display: flex;
                    align-items: center;
                }
                @media (max-width:375px) {
                    .links-footer p{
                        font-size: 10px;
                    }
                }
            }
    }
    }
}

