.hero-section{
    width: 100%;
    transition: 'background 0.5s ease-in-out'
}

#TOYOTA_HILUX{
    background-image: url('../../public/Images/backgroundHeroSection.png');
    background-size:cover;
    background-position: center;
}

#TOYOTA_FORTUNER{
    background-image: url('../../public/Images/backgroundHeroSectionTwo.png');
    background-size:cover;
    background-position: center;
}

#TOYOTA_TAISOR{
    background-image: url('../../public/Images/backgroundHeroSectionThree.png');
    background-size:cover;
    background-position: center;
}

#TOYOTA_FORTUNER_LEGENDER{
    background-image: url('../../public/Images/backgroundHeroSectionFour.png');
    background-size:cover;
    background-position: center;
}

@media (min-width: 1025px) {
    .hero-section {
        min-height: 715px;
        max-height: 1000px;
    }
}

@media (max-width: 1024px) {
    .hero-section {
        min-height: 750px;
        max-height: 900px;
    }
}

@media (max-width: 768px) {
    .hero-section {
        min-height: 500px;
        max-height: 800px;
    }
}

@media (max-width: 480px) {
    .hero-section {
        min-height: 766px;
        max-height: 900px;
    }
}
